---
layout: layout.ejs
head: Sobre mi
title: Sobre mi
showImage: true
---

<div class="pt-2 pb-5" style="min-height: 63vh;">
  <p>La carrera que realicé es una tecnicatura en análisis y desarrollo de software.</p>
  <p>Trabajo como desarrolladora web frontend, aunque tengo interés en Desarrollo Móvil (que lo aplico en proyectos personales). Por lo tanto vas a ver cosa sobre estos temas como proyectos o publicaciones en el blog.</p>
  <p>Este rincón será para publicar tutoriales, o dejar notas sobre lo que haya aprendido y quiera tenerlo a la mano.</p>

  <p>Algunas de las <strong>tecnologias que podrás publicaciones</strong> aquí son:</p>
  <ul>
    <li>HTML / CSS </li>
    <li>Javascript (y Nodejs)</li>
    <li>React / Vue</li>
    <li>Wordpress</li>
    <li>Kotlin / Flutter</li>
  </ul>
</div>